--pre
--extra-index-url https://wheels.vllm.ai/nightly

matplotlib
networkx
numpy
pandas
scipy
seaborn
netgraph
powerlaw
openai
anthropic
replicate
transformers[serving] @ git+https://github.com/huggingface/transformers.git@main
torch
accelerate
vllm
